---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Como fazer:] Publicar e analisar resultados de teste? | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System permite que você as alterações do gráfico na qualidade do código do projeto conforme o andamento do projeto. Este vídeo fornece instruções sobre como publ....
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 80289680e4d40ec903524d9f4752b71d13db790e
ms.sourcegitcommit: 0f1119340e4464720cfd16d0ff15764746ea1fea
ms.translationtype: MT
ms.contentlocale: pt-BR
ms.lasthandoff: 04/09/2019
ms.locfileid: "59413497"
---
# <a name="how-do-i-publish-and-analyze-test-results"></a>[Como fazer:] Publicar e analisar resultados de teste?

por [Chris Menegay](https://twitter.com/CMenegay)

Visual Studio Team System permite que você as alterações do gráfico na qualidade do código do projeto conforme o andamento do projeto. Este vídeo fornece instruções sobre como publicar resultados de teste para o banco de dados de projeto do Team Foundation Server e associar os resultados com um número de compilação. Podemos ver que depois que os resultados são publicados podemos usar o Gerenciador de relatórios para exibir uma representação gráfica das alterações em nossos resultados de teste de compilação.

[&#9654;Assista ao vídeo (7 minutos)](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [Anterior](how-do-i-use-generic-tests.md)
> [Próximo](how-do-i-discover-application-changes-prior-to-deployment.md)
