---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Como fazer:] Publicar e analisar resultados de teste? | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System permite que você as alterações do gráfico na qualidade do código do projeto conforme o andamento do projeto. Este vídeo fornece instruções sobre como publ....
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: a575dd0af20bb1565606c93e5a189b7a3e35ff3d
ms.sourcegitcommit: 24b1f6decbb17bb22a45166e5fdb0845c65af498
ms.translationtype: MT
ms.contentlocale: pt-BR
ms.lasthandoff: 03/01/2019
ms.locfileid: "57053873"
---
<a name="how-do-i-publish-and-analyze-test-results"></a><span data-ttu-id="2c943-105">[Como fazer:] Publicar e analisar resultados de teste?</span><span class="sxs-lookup"><span data-stu-id="2c943-105">[How Do I:] Publish and Analyze Test Results?</span></span>
====================
<span data-ttu-id="2c943-106">por [Chris Menegay](https://twitter.com/CMenegay)</span><span class="sxs-lookup"><span data-stu-id="2c943-106">by [Chris Menegay](https://twitter.com/CMenegay)</span></span>

<span data-ttu-id="2c943-107">Visual Studio Team System permite que você as alterações do gráfico na qualidade do código do projeto conforme o andamento do projeto.</span><span class="sxs-lookup"><span data-stu-id="2c943-107">Visual Studio Team System enables you to chart changes in a project's code quality as the project progresses.</span></span> <span data-ttu-id="2c943-108">Este vídeo fornece instruções sobre como publicar resultados de teste para o banco de dados de projeto do Team Foundation Server e associar os resultados com um número de compilação.</span><span class="sxs-lookup"><span data-stu-id="2c943-108">This video provides instructions on how to publish test results to the Team Foundation Server project database and associate the results with a build number.</span></span> <span data-ttu-id="2c943-109">Podemos ver que depois que os resultados são publicados podemos usar o Gerenciador de relatórios para exibir uma representação gráfica das alterações em nossos resultados de teste de compilação.</span><span class="sxs-lookup"><span data-stu-id="2c943-109">We see that after the results are published we can use the Report Manager to view a graphical representation of changes in our build test results.</span></span>

[<span data-ttu-id="2c943-110">&#9654;Assista ao vídeo (7 minutos)</span><span class="sxs-lookup"><span data-stu-id="2c943-110">&#9654; Watch video (7 minutes)</span></span>](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> <span data-ttu-id="2c943-111">[Anterior](how-do-i-use-generic-tests.md)
> [Próximo](how-do-i-discover-application-changes-prior-to-deployment.md)</span><span class="sxs-lookup"><span data-stu-id="2c943-111">[Previous](how-do-i-use-generic-tests.md)
[Next](how-do-i-discover-application-changes-prior-to-deployment.md)</span></span>
