---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Como faço para:] Publicar e analisar Resultados de Teste? | Microsoft Docs'
author: rick-anderson
description: O Visual Studio Team System permite que você tenha como gráfico as alterações na qualidade de código de um projeto à medida que o projeto progride. Este vídeo fornece instruções sobre como publ...
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 80289680e4d40ec903524d9f4752b71d13db790e
ms.sourcegitcommit: e7e91932a6e91a63e2e46417626f39d6b244a3ab
ms.translationtype: MT
ms.contentlocale: pt-BR
ms.lasthandoff: 03/06/2020
ms.locfileid: "78641186"
---
# <a name="how-do-i-publish-and-analyze-test-results"></a>[Como faço para:] Publicar e analisar Resultados de Teste?

por [Chris Menegay](https://twitter.com/CMenegay)

O Visual Studio Team System permite que você tenha como gráfico as alterações na qualidade de código de um projeto à medida que o projeto progride. Este vídeo fornece instruções sobre como publicar resultados de teste para o banco de dados do Team Foundation Server Project e associar os resultados com um número de compilação. Vemos que, depois que os resultados são publicados, podemos usar o Report Manager para exibir uma representação gráfica das alterações nos resultados do teste de compilação.

[&#9654;Assistir ao vídeo (7 minutos)](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [Anterior](how-do-i-use-generic-tests.md)
> [Próximo](how-do-i-discover-application-changes-prior-to-deployment.md)
